.header {
  background-color: whitesmoke;
  color: #606a80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.app {
  font-size: calc(10px + 2vmin);
}

.game {
  font-size: 1rem;
  background: grey;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background: whitesmoke;
}

.question-count {
  position: absolute;
  right: 1rem;
  top: .5rem;
}

.question {
  border: 2px solid grey;
  background: whitesmoke;
  padding: 1rem;
  height: 2rem;
  text-align: center;
  flex-wrap: wrap;
}

.answer-options-container {
  flex-direction: column;
}

.answer-option {
  align-self: flex-start;
}

.flex {
  display: flex;
}

/* .show-answer {

} */

.correct-answer {
  margin-top: 2rem;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.button {
  padding: .2rem;
  margin-top: 1rem;
}

.button:hover {
  background: grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
