.header {
  background-color: whitesmoke;
  color: #596276;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.app {
  font-size: calc(5px + 2vmin);
}

.flex {
  display: flex;
}

.fade-in {
  animation: fadeIn ease 2s;
}

.play {
  align-self: center;
}

.display-container {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  width: 50vw;
  height: 50vh;
  top: 15vh;
  border: 1px solid white;
  border-radius: 10px;
  background: rgb(197, 195, 195);
}

.question-count {
  position: absolute;
  right: 1rem;
  top: .5rem;
}

.question {
  border: 2px solid grey;
  padding: 1rem;
  position: relative;
  margin: 1rem;
  /* width: 100%; */
  flex-wrap: wrap;
}

.warning {
  color: rgb(102, 36, 27);
  margin-left: 1rem;
}

.answer-options-container {
  justify-content: flex-end;
}

.answer-option {
  align-self: flex-start;
  flex-direction: row;
  margin: .3rem;
}

.show-answer {
  position: relative;
  left: 50px;
  top: 10vh;
  flex-direction: column;
  align-items: flex-end;
}

.next {
  position: relative;
  top: 2vh;
}

.correct-answer {
  flex-wrap: wrap;
  width: 20%;
}

.correct {
  color: rgb(2, 82, 2);
  font-weight: bold;
}

.incorrect {
  color: rgb(167, 3, 3);
  font-weight: bold;
}

.button {
  padding: .3rem;
  /* margin: 1rem; */
  border: none;
  background-color: #596276;
  color: rgb(254, 255, 255);
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

.submit {
  margin: 1rem;
}

.input {
  margin-left: .5rem;
}

.label {
  margin-left: .75rem;
}

.button:hover {
  background-color: rgb(59, 59, 82);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  100% { opacity: 1; }
  0% { opacity: 0; }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
