.header {
  background-color: whitesmoke;
  color: #606a80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.flex {
  display: flex;
}

.app {
  font-size: calc(10px + 2vmin);
}

.game {
  font-size: 1rem;
  background: rgb(197, 195, 195);
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  top: 15vh;
  border: 1px solid white;
  border-radius: 5px;
  background: whitesmoke;
}

.question-count {
  position: absolute;
  right: 1rem;
  top: .5rem;
}

.question {
  /* border: 2px solid grey; */
  padding: 1rem;
  width: 80%;
  flex-wrap: wrap;
}

.answer-options-container {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.answer-option {
  align-self: flex-start;
}

.show-answer {
  margin-left: 15rem;
}

.correct-answer {
  margin-top: 2rem;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

.button {
  padding: .2rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:hover {
  background: grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
